$brand: 'rgb(10, 25, 47)';
$accent: #81fced;

$white: #ffffff;
$gray-10: #e4e5e8;
$gray-20: #f8f8f9;
$gray-100: #f2f2f4;
$gray-150: #e4e5e8;
$gray-200: #c9cbd1;
$gray-300: #aeb1b9;
$gray-400: #9397a2;
$gray-500: #787d8b;
$gray-600: #626775;
$gray-700: #4b505f;
$gray-800: #383d4c;
$gray-900: #292d3a;
$black: #0a141d;
